body{
    margin: 0;
    padding:0;
    
    
}

#container{
    box-sizing: border-box;
    height: 100vh;
}



header {

    
    background-color: #f38e58;
    display: flex;
    height: 200px;
    
    
}



nav ul {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    list-style: none;
}

nav ul li {
    
    padding-left: 20px;
    
}

nav ul li a{
    
    text-decoration:none;
    color:white;
    text-transform:capitalize;
    opacity:0.7;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 3px;
    margin-left: 0;

    
}

nav ul li a:hover{
    background-color: #3c1710;
}



#contact > h1 {

    text-align: center;
    background-color: #f38e58;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color:white;
    font-size: 45px;
    font-family: sans-serif;
    
}

#logo{
    margin-left: 150px;
    
}

#contact p {

    text-align: center;
   color: #492b20;
    margin-top: 0;
    margin-bottom: 0;
    height: 76px;
    background-color: #f38e58;
    font-size: 12px;
    
    

}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    height: 900px;
    padding:35px 40px 35px 40px;

}

footer {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: #404040;
    height: 290px;
    
}

#menu   {
    display: flex;
    margin-right: 300px;
    
  }

.bouton{
      

    background-color:#0d2234;
    border: none;
    color: white;
    padding: 5px 30px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
  }
  
  

  .bouton2{

    
    background-color: transparent;
    border: 2 solid white;
    color: white;
    padding: 5px 15px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    

    
  }

  
  
  
  footer ul{
    list-style: none;
    margin-right:10px;
  }

  footer ul li a{

    text-decoration: none;
    font-size:15px;

  }
  footer ul li a.blanc{
      color:white;
  }

  footer ul li a{
    color:#767676;
    font-size: 10px;
}

footer ul li{
    margin-bottom: 5px;
}

aside {
    width: 80%;
}

aside p {
    text-align: justify;
    margin-bottom:30px;
}

aside h1 {
    color:#67b3c7;
    text-transform: uppercase;
    
  }

  aside h2 {
      font-size: 18px;
      margin-top: 35px;
  }

  input {
      width: 450px;
      margin-bottom: 25px;
      padding:5px;
      border-radius: 5px;
      border:1px solid #c5c5cd;
  }

  textarea{
      width:450px;
      margin-bottom: 25px;
      padding:5px;
      border-radius: 5px;
      border:1px solid #c5c5cd;
      
  }

 

  /*.cercle { 
    height: 50px; 
    width: 50px; 
    background-color: #f38e58;
    border-radius: 50%; 
    
} */

i
{
 background-color: #f38e58;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
}

i.fa-twitter {
    display: inline-block;
    border-radius:50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 22px;
    color: white;
    float: left;
    margin-right: 15px;
   
  }

  i.fa-facebook-square {
    display: inline-block;
    border-radius:50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 22px;
    color: white;
    float: left;
    margin-right: 15px;
   
  }

  i.fa-linkedin-in {
    display: inline-block;
    border-radius:50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 22px;
    color: white;
    float: left;
    margin-right: 15px;
   
  }


  p.marge-droite{
      font-size: 14px;
     
  }

  .submit{
    background-color: #f38e58;
    padding:10px 30px;
    border-radius:5px ;
    text-align: center;
    width: 70px;
    margin-left: 338px;
    
  }

  .submit a{
    text-decoration: none;
    color:white;
    
  }

  .submit:hover{
    background-color: #3c1710;
  }

  span{
     color: #f38e58;;
  }

  
.bas_page {
   background-color: black;
   display: grid;
   width: 100%;
   
  
}

.bouton3{
    background-color: #0d2234;
    padding:10px 20px;
    border-radius:5px ;
    text-align: center;
    width: 100px;
    
}
.bouton3 a{

    text-decoration: none;
    color:white;
    font-size: 14px;

}

@media screen and (max-width: 992px){

    header{
        
    }
}
 

  



